@charset "UTF-8";
/* CSS Document */
body {
	font-size: 90%;
	font-family: Verdana, Geneva, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #CDFFBC;
}
.text { 
	margin-bottom:12px; 
	width:95%; 
	padding: .4em; 
}
fieldset { 
	padding:0; 
	border:0; 
	margin-top:25px; 
}
.menuBtn {
	width: 100px;
}
.siteContainer {
	width: 100%;
	margin: 0px;
	padding: 0px;
}
.header {
	height: 15%;
}
.tabs {
	height: 85%;
}
.widgets {
	display:none;
	position:absolute;
}
#toolbar {
	padding: 2px 2px;
	font-size:12px;
}
#map-menu {
	position:absolute;
	display:block;
	background-color:#CCC;
	width: 200px;
	left: 50px;
	top: 200px;	
}
.logBtn {
	font-size: 80%;
}
div.demo { 
	padding: 10px !important; 
}
div.typeBtns {
	margin: 3px auto;
	width: 300px;
}
div#prompt {
	margin-top: 5px;
	margin-bottom: 5px;	
}
li#space {
	clear: both;
}
span#username {
	text-decoration:underline;
}
